name: Auto-sync-lua

on:
  workflow_dispatch:
  repository_dispatch: # 允许通过 API 触发
  push:
    branches:
    - main
    
jobs:
  synclua:
    runs-on: ubuntu-latest

    steps:
           
      - name: Checkout GTA5OnlineLua Sources
        uses: actions/checkout@v4
        with:
          path: GTA5OnlineLua
            
      - name: Checkout HeistLua Sources
        uses: actions/checkout@v4
        with:
          repository: wangzixuank/YimMenu-HeistLua
          path: HeistLua
          
      - name: Checkout SchLua Sources
        uses: actions/checkout@v4
        with:
          repository: sch-lda/SCH-LUA-YIMMENU
          path: SchLua
          
      - name: Checkout WeaponAttribute Sources
        uses: actions/checkout@v4
        with:
          repository: TCRoid/YimMenu-Lua-WeaponAttribute
          path: WeaponAttribute
          fetch-depth: 1

      - name: Checkout RScript Sources
        uses: actions/checkout@v4
        with:
          repository: TCRoid/YimMenu-Lua-RScript
          path: RScript
          fetch-depth: 1

      - name: git pull1
        run: |
          cd WeaponAttribute
          git pull
          cd ..
          cd RScript
          git pull
          cd ..
          cd GTA5OnlineLua
          git pull
          cd ..
          cd HeistLua
          git pull
          cd ..
          cd SchLua
          git pull

      - name: Download Alicelua kiddion zip
        run: |
           mkdir AlicetmpKiddion
           cd AlicetmpKiddion
           aria2c -o  AliceLua.zip https://dl.host3650.live/Lua/Alice-lua.zip

      - name: Calculate SHA256 hash for oldAliceKid
        run: echo "SHA256_AKO=$(sha256sum GTA5OnlineLua/Kiddion/AliceLua.zip | cut -d' ' -f1)" >> $GITHUB_ENV

      - name: Calculate SHA256 hash for newAliceKid
        run: echo "SHA256_AKN=$(sha256sum AlicetmpKiddion/AliceLua.zip | cut -d' ' -f1)" >> $GITHUB_ENV
        
      - name: Upd Alice Kiddion ?
        run: |
         if [ "$SHA256_AKO" != "$SHA256_AKN" ]; then
           
           if [ -f "GTA5OnlineLua/KiddionAliceLua.zip" ]; then
           rm GTA5OnlineLua/KiddionAliceLua.zip
           fi
           
           cp AlicetmpKiddion/AliceLua.zip GTA5OnlineLua/Kiddion/AliceLua.zip
           sed -i '/Update/d' GTA5OnlineLua/Kiddion/AliceLua.ini
           echo "Update = $(date +'%Y/%m/%d')" >> GTA5OnlineLua/Kiddion/AliceLua.ini
           AK_current_version=$(grep -E '^Version\s*=\s*' GTA5OnlineLua/Kiddion/AliceLua.ini | cut -d'=' -f2 | tr -d '[:space:]')
           AK_new_version=$(echo "$AK_current_version + 0.01" | bc)
           sed -i "s/^Version\s*=\s*$AK_current_version/Version = $AK_new_version/" GTA5OnlineLua/Kiddion/AliceLua.ini
         else
           echo "Alice Kiddion无更改"
         fi
         
      - name: Download Alicelua Yimmenu zip
        run: |
           mkdir AlicetmpYimmenu
           cd AlicetmpYimmenu
           aria2c -o  AliceLua.zip https://dl.host3650.live/Lua/Alice2333_for_yimmenu.zip

      - name: Calculate SHA256 hash for oldAliceYim
        run: echo "SHA256_AYO=$(sha256sum GTA5OnlineLua/YimMenu/AliceLua.zip | cut -d' ' -f1)" >> $GITHUB_ENV

      - name: Calculate SHA256 hash for newAliceYim
        run: echo "SHA256_AYN=$(sha256sum AlicetmpYimmenu/AliceLua.zip | cut -d' ' -f1)" >> $GITHUB_ENV
        
      - name: Upd Alice YimMenu ?
        run: |
         if [ "$SHA256_AYO" != "$SHA256_AYN" ]; then
            
           if [ -f "GTA5OnlineLua/YimMenu/AliceLua.zip" ]; then
           rm GTA5OnlineLua/YimMenu/AliceLua.zip
           fi
           
           cp AlicetmpYimmenu/AliceLua.zip GTA5OnlineLua/YimMenu/AliceLua.zip
           sed -i '/Update/d' GTA5OnlineLua/YimMenu/AliceLua.ini
           echo "Update = $(date +'%Y/%m/%d')" >> GTA5OnlineLua/YimMenu/AliceLua.ini
           AY_current_version=$(grep -E '^Version\s*=\s*' GTA5OnlineLua/YimMenu/AliceLua.ini | cut -d'=' -f2 | tr -d '[:space:]')
           AY_new_version=$(echo "$AY_current_version + 0.01" | bc)
           sed -i "s/^Version\s*=\s*$AY_current_version/Version = $AY_new_version/" GTA5OnlineLua/YimMenu/AliceLua.ini
         else
           echo "Alice YimMenu无更改"
         fi 
           
      - name: Create tmpdir
        run: mkdir tmpdir
        
      - name: Upzip TCRoid's Scripts
        run: |
             unzip GTA5OnlineLua/YimMenu/WeaponAttribute.zip -d tmpdir/
             unzip GTA5OnlineLua/YimMenu/RScript.zip -d tmpdir/
             
      - name: WeaponAttribute Lua Update Checker
        run: |
           old_hash1=$(sha256sum tmpdir/WeaponAttribute.lua | awk '{print $1}')
           new_hash1=$(sha256sum WeaponAttribute/WeaponAttribute.lua | awk '{print $1}')
           if [ "$old_hash1" == "$new_hash1" ]; then
            echo "WeaponAttribute无更新"
           else
            zip -j -r tmpdir/WeaponAttribute.zip WeaponAttribute/WeaponAttribute.lua
            mv tmpdir/WeaponAttribute.zip GTA5OnlineLua/YimMenu/
            sed -i '/Update/d' GTA5OnlineLua/YimMenu/WeaponAttribute.ini
            echo "Update = $(date +'%Y/%m/%d')" >> GTA5OnlineLua/YimMenu/WeaponAttribute.ini
           fi
                        
      - name: RScript Lua Update Checker
        run: |
           old_hash2=$(sha256sum tmpdir/RScript.lua | awk '{print $1}')
           new_hash2=$(sha256sum RScript/RScript.lua | awk '{print $1}')
           if [ "$old_hash2" == "$new_hash2" ]; then
            echo "RScript.lua无更新"
           else
            cd RScript
            zip -r ..tmpdir/RScript.zip .
            cd ..
            mv tmpdir/RScript.zip GTA5OnlineLua/YimMenu/
            sed -i '/Update/d' GTA5OnlineLua/YimMenu/RScript.ini
            echo "Update = $(date +'%Y/%m/%d')" >> GTA5OnlineLua/YimMenu/RScript.ini
           fi
           
      - name: Read HeistLua Lua Version
        run: |
         echo "Ver_HeistLua_R=$(head -n 1 "HeistLua/scripts/Heist.lua" | grep -oP '(?<=v)\d+\.\d+')" >> $GITHUB_ENV
         
      - name: Read HeistLua ini Version
        run: |
          echo "Ver_HeistLua_C=$(awk -F "=" '/Version/ {print $2}' GTA5OnlineLua/YimMenu/HeistLua.ini | sed 's/^[ \t]*//')" >> $GITHUB_ENV
          
      - name: Update HeistLua ini Version
        run: |
         if [[ "$Ver_HeistLua_R" != "$Ver_HeistLua_C" ]]; then
            sed -i "s/Version = $Ver_HeistLua_R/Version = $Ver_HeistLua_C/" GTA5OnlineLua/YimMenu/HeistLua.ini
          else
            echo "无需更新版本号"
          fi
          
      - name: Update date HeistLua
        run: |
          if [[ "$Ver_HeistLua_R" != "$Ver_HeistLua_C" ]]; then
            sed -i '/Update/d' GTA5OnlineLua/YimMenu/HeistLua.ini
            echo "Update = $(date +'%Y/%m/%d')" >> GTA5OnlineLua/YimMenu/HeistLua.ini
          else
            echo "无需更新日期"
          fi
        
      - name: Read Schlua lua Version
        run: |
         echo "Ver_SCHLua_R=$(head -n 1 "SchLua/sch.lua" | grep -oP '(?<=v)\d+\.\d+')" >> $GITHUB_ENV
         
      - name: Read Schlua ini Version
        run: |
          echo "Ver_SCHLua_C=$(awk -F "=" '/Version/ {print $2}' GTA5OnlineLua/YimMenu/SchLua.ini | sed 's/^[ \t]*//')" >> $GITHUB_ENV
          
      - name: Update Schlua ini Version
        run: |
         if [[ "$Ver_SCHLua_R" != "$Ver_SCHLua_C" }}" ]]; then
            sed -i "s/Version = $Ver_SCHLua_R/Version = $Ver_SCHLua_C/" GTA5OnlineLua/YimMenu/SchLua.ini
          else
            echo "无需更新版本号SchLua.ini"
          fi
          
      - name: Update date SchLua
        run: |
          if [[ "$Ver_SCHLua_R" != "$Ver_SCHLua_C" }}" ]]; then
            sed -i '/Update/d' GTA5OnlineLua/YimMenu/SchLua.ini
            echo "Update = $(date +'%Y/%m/%d')" >> GTA5OnlineLua/YimMenu/SchLua.ini
          else
            echo "无需更新日期SchLua.ini"
          fi
        
      - name: Update HeistLua 
        run: |
          if [[ "$Ver_HeistLua_R" != "$Ver_HeistLua_C" ]]; then
            cd HeistLua/scripts/
            zip -r ../HeistLua.zip .
            mv HeistLua/HeistLua.zip GTA5OnlineLua/YimMenu/
          else
            echo "无需更新HeistLua"
          fi
          
      - name: Update Schlua
        run: |
          if [[ "$Ver_SCHLua_R" != "$Ver_SCHLua_C" }}" ]]; then
            zip -j -r HeistLua/SchLua.zip SchLua/sch.lua
            mv HeistLua/SchLua.zip GTA5OnlineLua/YimMenu/
          else
            echo "无需更新SchLua"
          fi
          
      - name: git push
        run: |
          cd GTA5OnlineLua
          git config --global user.name "sch-bot"
          git config --global user.email "your-email@example.com"
          git add .
          git commit -m "Sync lua from other repo"
          git push
          
  generatejson:
    needs: synclua
    runs-on: windows-latest
    steps:
       - name: Checkout GTA5OnlineLua Sources
         uses: actions/checkout@v4
         with:
              path: GTA5OnlineLua
              
       - name: Setup MSBuild
         uses: microsoft/setup-msbuild@v1.1

       - name: Setup .Net6.0
         uses: actions/setup-dotnet@v3
         with:
          dotnet-version: '6.0'
          
       - name: Setup Nuget
         uses: nuget/setup-nuget@v1

       - name: git pull2
         run: |
          cd GTA5OnlineLua
          git pull
          
       - name: Restore Packages
         run: nuget restore GTA5OnlineLua/GTA5OnlineLua.sln
        
       - name: Build GTA5OnlineLua
         run: msbuild.exe GTA5OnlineLua/GTA5OnlineLua.sln  /p:configuration="Release"
         
       - name: Run GTA5OnlineLua
         run: |
             cd GTA5OnlineLua/bin/Release/net6.0/
             ./GTA5OnlineLua.exe
           
       - name: Copy Json
         run: |
           copy ./GTA5OnlineLua/bin/Release/net6.0/Kiddion.json  GTA5OnlineLua/Release/Kiddion.json  
           copy ./GTA5OnlineLua/bin/Release/net6.0/YimMenu.json  GTA5OnlineLua/Release/YimMenu.json  
           
       - name: Upload json
         uses: actions/upload-artifact@v3
         with:
           name: json
           path: GTA5OnlineLua/Release/
           
       - name: git push
         run: |
          cd GTA5OnlineLua
          git config --global user.name "sch-bot"
          git config --global user.email "your-email@example.com"
          git add .
          git commit -m "update json"
          git push
          
  create_release:
    runs-on: ubuntu-latest
    name: Create Release
    needs: generatejson
    steps:
       - name: Checkout GTA5OnlineLua Sources
         uses: actions/checkout@v4
         with:
              path: GTA5OnlineLua
              
       - name: git pull3
         run: |
          cd GTA5OnlineLua
          git pull
          
       - name: Echo json sha256
         id: build_sha
         run: |
          sha256sum GTA5OnlineLua/Release/Kiddion.json > sha256.checksum
          echo "build_sha=$(cat sha256.checksum)" >> $GITHUB_OUTPUT
          cat sha256.checksum
          
       - name: Echo yim sha256
         id: build_sha1
         run: |
          sha256sum GTA5OnlineLua/Release/YimMenu.json > sha256.checksum1
          echo "build_sha1=$(cat sha256.checksum1)" >> $GITHUB_OUTPUT
          cat sha256.checksum1
          
       - name: Create Release
         uses: softprops/action-gh-release@v1
         with:
          name: update
          tag_name: update
          body: |
            **This release has been built by Github Actions**
            Kid Hash:
            ```
            ${{ steps.build_sha.outputs.build_sha }}
            ```
            Yim Hash:
            ```
            ${{ steps.build_sha1.outputs.build_sha1 }}
            ```
          files: |
            GTA5OnlineLua/Release/Kiddion.json
            GTA5OnlineLua/Release/YimMenu.json
            
            
