name: UpdateChecker

on:
  workflow_dispatch:
  schedule:
    - cron: "*/30 * * * *"
    
jobs:
  luachecker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout GTA5OnlineLua Sources
        uses: actions/checkout@v4
        with:
          path: GTA5OnlineLua
          fetch-depth: 1
  
      - name: Checkout HeistLua Sources
        uses: actions/checkout@v4
        with:
          repository: wangzixuank/YimMenu-HeistLua
          path: HeistLua
          fetch-depth: 1
          
      - name: Checkout SchLua Sources
        uses: actions/checkout@v4
        with:
          repository: sch-lda/SCH-LUA-YIMMENU
          path: SchLua
          fetch-depth: 1
          
      - name: Checkout WeaponAttribute Sources
        uses: actions/checkout@v4
        with:
          repository: TCRoid/YimMenu-Lua-WeaponAttribute
          path: WeaponAttribute
          fetch-depth: 1
          
      - name: Checkout RScript Sources
        uses: actions/checkout@v4
        with:
          repository: TCRoid/YimMenu-Lua-RScript
          path: RScript
          fetch-depth: 1

      - name: git pull
        run: |
          cd WeaponAttribute
          git pull
          cd ..
          cd RScript
          git pull
          cd ..
          cd GTA5OnlineLua
          git pull
          cd ..
          cd HeistLua
          git pull
          cd ..
          cd SchLua
          git pull
          
      - name: Download Alicelua kiddion zip
        run: |
           mkdir AlicetmpKiddion
           cd AlicetmpKiddion
           aria2c -o  AliceLua.zip https://dl.host3650.live/Lua/Alice-lua.zip
           
      - name: Calculate SHA256 hash for oldAliceKid
        run: echo "SHA256_AKO=$(sha256sum GTA5OnlineLua/Kiddion/AliceLua.zip | cut -d' ' -f1)" >> $GITHUB_ENV

      - name: Calculate SHA256 hash for newAliceKid
        run: echo "SHA256_AKN=$(sha256sum AlicetmpKiddion/AliceLua.zip | cut -d' ' -f1)" >> $GITHUB_ENV

      - name: Upd Alice Kiddion ?
        run: |
         if [ "$SHA256_AKO" != "$SHA256_AKN" ]; then
           cd GTA5OnlineLua/
           echo "Alice for Kiddion" > trigger.txt
         else
           echo "Alice Kiddion无更改"
         fi
         
      - name: Download Alicelua Yimmenu zip
        run: |
           mkdir AlicetmpYimmenu
           cd AlicetmpYimmenu
           aria2c -o  AliceLua.zip https://dl.host3650.live/Lua/Alice2333_for_yimmenu.zip
           
      - name: Calculate SHA256 hash for oldAliceYim
        run: echo "SHA256_AYO=$(sha256sum GTA5OnlineLua/YimMenu/AliceLua.zip | cut -d' ' -f1)" >> $GITHUB_ENV

      - name: Calculate SHA256 hash for newAliceYim
        run: echo "SHA256_AYN=$(sha256sum AlicetmpYimmenu/AliceLua.zip | cut -d' ' -f1)" >> $GITHUB_ENV

      - name: Upd Alice YimMenu ?
        run: |  
         if [ "$SHA256_AYO" != "$SHA256_AYN" ]; then
            cd GTA5OnlineLua/
            echo "Alice for YimMenu" > trigger.txt
         else
           echo "Alice YimMenu无更改"
         fi 
      - name: Create tmpdir
        run: mkdir tmpdir
                                  
      - name: Read HeistLua Lua Version
        run: |
         echo "Ver_HeistLua_R=$(head -n 1 "HeistLua/scripts/Heist.lua" | grep -oP '(?<=v)\d+\.\d+')" >> $GITHUB_ENV
         
      - name: Read HeistLua ini Version
        run: |
          echo "Ver_HeistLua_C=$(awk -F "=" '/Version/ {print $2}' GTA5OnlineLua/YimMenu/HeistLua.ini | sed 's/^[ \t]*//')" >> $GITHUB_ENV
          
      - name: HeistLua Update Checker
        run: |
          if [[ "$Ver_HeistLua_R" != "$Ver_HeistLua_C" ]]; then
            cd GTA5OnlineLua/
            echo "HeistLua" > trigger.txt
          else
            echo "HeistLua无更新"
          fi
          
      - name: Read Schlua lua Version
        run: |
         echo "Ver_SCHLua_R=$(head -n 1 "SchLua/sch.lua" | grep -oP '(?<=v)\d+\.\d+')" >> $GITHUB_ENV
         
      - name: Read Schlua ini Version
        run: |
          echo "Ver_SCHLua_C=$(awk -F "=" '/Version/ {print $2}' GTA5OnlineLua/YimMenu/SchLua.ini | sed 's/^[ \t]*//')" >> $GITHUB_ENV
          
      - name: Schlua Update Checker
        run: |
         if [[ "$Ver_SCHLua_R" != "$Ver_SCHLua_C" ]]; then
            cd GTA5OnlineLua/
            echo "sch lua" > trigger.txt
          else
            echo "SchLua无更新"
          fi
          
      - name: Check trigger file
        run: |
          cd GTA5OnlineLua/
          if [ -f "trigger.txt" ]; then
          echo "即将触发更新"
          else
            poweroff
          fi
          
      - name: Trigger update workflow
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          event-type: main

      # 允许推送lua更新信息至Discord Github频道
      - name: Notify
        run: |
          cd GTA5OnlineLua/
          aria2c -o  uploadinfo https://dl.host3650.live/uploadinfo
          chmod +x uploadinfo
          ./uploadinfo
